<form asp-action="Search" method="get" asp-antiforgery="true">
    <div class="d-flex mb-4 align-items-center" style="width: 500px;">
        <div class="me-2 flex-grow-1">
            <input name="title" class="form-control" style="height: 40px;" placeholder="Search book by title" />
        </div>
        <button type="submit" class="btn btn-outline-dark" style="height: 40px;">Search</button>
    </div>    
</form>