html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    margin-bottom: 60px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar-brand-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-collapse {
    position: relative;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn:not(.btn-link):not(.btn-lg):hover {
    background-color: orange;
    border-color: orange;
    color: white;
}

a.book-title, a.author, a.genre, a.review-author, a.edit, a.delete {
    color: inherit;
    text-decoration: none;
}

a.book-title:hover,
a.author:hover,
a.genre:hover,
a.review-author:hover {
    color: inherit;
    text-decoration: underline;
}

a.delete {
    display: none;
}

tr:hover a.delete {
    display: inline-block;
}

