@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col">
        <div class="text-start align-items-center">
            <h1 class="display-3">JOIN THE MOST ENGAGING<br> COMMUNITY FOR BOOK LOVERS TODAY.</h1>
        </div>
    </div>
</div>
